.App {
  text-align: center;
}

.mainHeader {
  background: #AB2A19;
  font-size: 30px;
  height: 92px;
  font-family: sans-serif;
  font-weight: bold;
}

.linkwrapper{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  min-width: 100px;
}


#link {
  background: #D34735;
  text-decoration: none;
  color: white;
  border-radius: 5%;
}

